<app-layout subtitle="Log In">
  <link rel="stylesheet" href="/scripts/components/authentication/login.css">
  <header>
    <h1>Welcome Back</h1>
  </header>
  <main>
    <form>
      <div>
        <label for="username">Username or Email Address</label>
        <input id="username" type="text" required autofocus placeholder="someone@example.com">
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" required placeholder="Secret">
        <a href="/password-reset">Forgot password?</a>
      </div>
      <p id="progress" hidden>
        <strong>Logging in...</strong>
      </p>
      <p id="problem" hidden>
        <output></output>
      </p>
      <p>
        <button type="submit">Log In</button>
      </p>
      <p>
        Or <a href="/signup">Sign Up</a> to create an account.
      </p>
    </form>
  </main>
</app-layout>
