<app-layout subtitle="Password Reset">
  <link rel="stylesheet" href="/scripts/components/authentication/password-reset-sent.css">
  <header>
    <h1>Reset Email Sent</h1>
    <p>📬</p>
  </header>
  <main>
    <p>A magical reset link was emailed to you.</p>
    <p>Check your inbox to reset your password.</p>
    <p>Then, <a href="/login">Log In</a> or <a href="/password-reset">Reset Your Password</a> again.</p>
  </main>
</app-layout>
